@{
    ViewBag.Title = "Register";
}



<div class="container">

    <div class="span4">
        <form class="form-horizontal" ng-controller="RegistrationCtrl" ng-submit="registerUser()">

            <div class="controls-row form-group">
                <label for="name" class="control-label form-group">
                    Full Name
                </label>
                <div class="controls-row form-group">
                    <input class="form-control" name="name" placeholder="John Doe" type="text" ng-model="user.name">
                </div>
            </div>
            <div class="controls-row form-group">
                <label for="emailAddress" class="control-label form-group">
                    E-Mail Address
                </label>
                <div class="controls-row form-group">
                    <input class="form-control" name="emailAddress" type="email" ng-model="user.emailAddress">
                </div>
            </div>

            <div class="controls-row form-group">
                <label for="password" class="control-label form-group">
                    Password
                </label>
                <div class="controls-row form-group">
                    <input class="form-control" name="password" type="password" ng-model="user.password">
                </div>
            </div>

            <div class="controls-row form-group">
                <label for="grade" class="control-label form-group">
                    Grade
                </label>
                <div class="controls-row form-group">
                    <select name="grade" ng-model="user.grade">
                        <option value=""></option>
                        <option value="0">K</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="controls-row form-group">
                <label for="role" class="control-label form-group">
                    I am a
                </label>
                <div class="controls-row form-group">
                    <select name="role" id="role" ng-model="user.role">
                        <option value=""></option>
                        <option value="0">Student</option>
                        <option value="1">Teacher</option>
                    </select>
                </div>
            </div>

            <div class="form-actions form-group">
                <button type="submit" class="btn btn-lg btn-primary form-group">Register</button>
            </div>
            <div class="alert alert-error {{showError}}">
                <label class="error">{{registrationErrorMessage}}</label>
            </div>
        </form>
    </div>
    <!-- .span8 -->

</div>


