@{
    ViewBag.Title = "Register";
}


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="span8" >
                <form class="form-horizontal"  ng-controller="RegistrationCtrl" ng-submit="registerUser()">
                    <div class="controls-row">
                        <label for="name" class="control-label">
                            Full Name
                        </label>
                        <div class="controls">
                            <input name="name" placeholder="John Doe" type="text" ng-model="user.name">
                        </div>
                    </div>                                              
                    <div class="control-row">
                        <label for="emailAddress" class="control-label">
                            E-Mail Address
                        </label>
                        <div class="controls">
                            <input name="emailAddress" type="email" ng-model="user.emailAddress">
                        </div>
                    </div>

                    <div class="controls-row">
                        <label for="password" class="control-label">
                            Password
                        </label>
                        <div class="controls">
                            <input name="password" type="password" ng-model="user.password">
                        </div>
                    </div>

                    <div class="controls-row">
                        <label for="grade" class="control-label">
                            Grade
                        </label>
                        <div class="controls">
                            <select name="grade" ng-model="user.grade">
                                <option value=""></option>
                                <option value="0">K</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="controls-row">
                        <label for="role" class="control-label" >
                            I am a
                        </label>
                        <div class="controls">
                            <select name="role" id="role" ng-model="user.role">
                                <option value=""></option>
                                <option value="0">Student</option>
                                <option value="1">Teacher</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-lg btn-primary" style="margin-top: 10px">Register</button>
                    </div>
                    <div class="alert alert-error {{showError}}">
                        <label class="error">{{registrationErrorMessage}}</label>                        
                    </div>
                </form>
            </div>
            <!-- .span8 -->
        </div>
    </div>

</div>
