*.dll
*.pdb
BusinessLayer/bin/Debug/DataAccess.dll
BusinessLayer/bin/Debug/DataAccess.pdb
BusinessLayer/bin/Debug/EducationAnywhere.BusinessLayer.dll
BusinessLayer/bin/Debug/EducationAnywhere.BusinessLayer.pdb
BusinessLayer/bin/Debug/EducationAnywhere.CommonTypes.dll
BusinessLayer/bin/Debug/EducationAnywhere.CommonTypes.pdb
BusinessLayer/bin/Debug/EducationAnywhere.Models.dll
BusinessLayer/bin/Debug/EducationAnywhere.Models.pdb
BusinessLayer/obj/Debug/BusinessLayer.csprojResolveAssemblyReference.cache
BusinessLayer/obj/Debug/EducationAnywhere.BusinessLayer.dll
BusinessLayer/obj/Debug/EducationAnywhere.BusinessLayer.pdb
CommonTypes/bin/Debug/EducationAnywhere.CommonTypes.dll
CommonTypes/bin/Debug/EducationAnywhere.CommonTypes.pdb
CommonTypes/bin/Debug/EducationAnywhere.Models.dll
CommonTypes/bin/Debug/EducationAnywhere.Models.pdb
CommonTypes/obj/Debug/CommonTypes.csprojResolveAssemblyReference.cache
CommonTypes/obj/Debug/EducationAnywhere.CommonTypes.dll
CommonTypes/obj/Debug/EducationAnywhere.CommonTypes.pdb
DataAccess/bin/Debug/DataAccess.dll
DataAccess/bin/Debug/DataAccess.pdb
DataAccess/bin/Debug/EducationAnywhere.CommonTypes.dll
DataAccess/bin/Debug/EducationAnywhere.CommonTypes.pdb
DataAccess/bin/Debug/EducationAnywhere.Models.dll
DataAccess/bin/Debug/EducationAnywhere.Models.pdb
DataAccess/obj/Debug/DataAccess.csprojResolveAssemblyReference.cache
DataAccess/obj/Debug/DataAccess.dll
DataAccess/obj/Debug/DataAccess.pdb
EducationAnywhere.v11.suo
EducationAnywhere/bin/DataAccess.dll
EducationAnywhere/bin/DataAccess.pdb
EducationAnywhere/bin/EducationAnywhere.BusinessLayer.dll
EducationAnywhere/bin/EducationAnywhere.BusinessLayer.pdb
EducationAnywhere/bin/EducationAnywhere.CommonTypes.dll
EducationAnywhere/bin/EducationAnywhere.CommonTypes.pdb
EducationAnywhere/bin/EducationAnywhere.dll
EducationAnywhere/bin/EducationAnywhere.Models.dll
EducationAnywhere/bin/EducationAnywhere.Models.pdb
EducationAnywhere/bin/EducationAnywhere.pdb
