@{
    ViewBag.Title = "Index";
}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">            
            <h1>Achieve Primary Education</h1>
            <img src="~/Content/images/schoolkids.PNG" class="pull-right" />
            <p>Every kid has right to education. Let us by 2015, ensure children everywhere, boys and girls alike, will be able to complete a full course of primary schooling.</p>            
            <p><a class="btn btn-primary btn-lg" href="http://www.un.org/millenniumgoals/education.shtml" target="_blank">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/images/Goal2.jpg"/>
                <p>Literacy rates among adults and youths are on the rise and gender gaps are narrowing. New national data show the number of out-of-school children dropped from 102 million to 57 million from 2000 to 2011.Progress in reducing the number of out-of-school children has come to a standstill as international aid to basic education in 2011 fell for the first time since 2002. </p>            
            </div>
            <div class="col-lg-4">
                <img src="~/Content/images/enrollment.PNG"/>
                <p>Enrolment in primary education in developing regions reached 90 per cent in 2010, up from 82 per cent in 1999, which means more kids than ever are attending primary school.In 2011, 57 million children of primary school age were out of school.Even as countries with the toughest challenges have made large strides, progress on primary school enrolment has slowed. Between 2008 and 2011, the number of out-of-school children of primary age fell by only 3 million. </p>                
            </div>
            <div class="col-lg-4">
                <img src="~/Content/images/StepUp.PNG"/>
                <p>In 2011, 57 million children of primary school age were out of school. Globally, 123 million youth (aged 15 to 24) lack basic reading and writing skills. 61 per cent of them are young women.Gender gaps in youth literacy rates are also narrowing. Globally, there were 95 literate young women for every 100 young men in 2010, compared with 90 women in 1990.</p>                
            </div>
        </div>        
    </div>