<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-EducationAnywhere-20131014221253;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-EducationAnywhere-20131014221253.mdf" />-->
    <add name="EducationAnywhereContext" providerName="System.Data.SqlClient" connectionString="Data Source=(Local);Initial Catalog=EducationAnywhere;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>